@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgrounds: #ffffff;
  --foreground: #1b202b;
  --primary: #1b202b;
  --primary-foreground: #f5f7fa;
  --secondary: #ebf0f4;
  --secondary-foreground: #1b202b;
  --accent: #5b4b4d;
  --accent-foreground: #f5f7fa;
  --muted: #ebf0f4;
  --muted-foreground: #706c6f;
}


body {
  @apply bg-background text-foreground;
}
.container{
  @apply mx-auto;
}